@import url('https://fonts.googleapis.com/css?family=Aleo');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
/* body{
  background-image: url("../images/image1.jpg");
  background-size: cover;
  background-blend-mode: darken;
  font-family: 'Press Start 2P', cursive;
  color:white;
} */

body .container{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-blend-mode: darken;
  font-family: 'Press Start 2P', cursive;
  color:white;
}

.heading-1{
  text-shadow: 0 0 0.2vh #fff, 0 0 0.5vh #fff, 0 0 2vh #00FF98;
  font-family: 'Press Start 2P', cursive;
}

form{
  background: rgba(5, 60, 1, 0.2);
  font-size: 0.7rem;
}
input{
  margin: 0;
  padding: 0;
  font-family: 'Aleo', serif;

}
select{
  font-family: 'Aleo', serif;
}

.reg-suc{
  margin-top:40vh;
}
.SUBMIT-BTN:hover{
  border-color:black;
  background: black;
  color:#00FF98;
}

table{
  width: 80vw!important;
  margin: 5vh auto!important;
}

