{% extends 'base.html' %}

{% block content %}

<div class="container align-middle">
    <h3 class="text-center mt-md-0  heading-1">Junior Code Cracker 2K18</h3>
    {% if is_team_name_taken == True %}

    <div class="alert alert-info" role="alert">
        This team is already registered !
    </div>

    {% endif %}
    <form method="post" action="{% url 'index' %}" id="user_reg" class="mt-4 p-5 mb-4 pb-0">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-xs-12 p-0">
                <label>Team Handle :</label>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                {{ form.team_name }}
            </div>
        </div>

        <br>
        <h6>Participant 1's Details</h6>
        <br>
        <br>

        <div class="row">
            <div class="col-md-6 col-xs-12 p-0">
                <label>Name :</label>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                {{ form.player_one_name }}
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 col-xs-12 p-0">
                <label>Email ID :</label>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                {{ form.player_one_email }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 p-0">
                <label>Contact :</label>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                {{ form.player_one_contact }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 p-0">
                <label>Hall No. :</label>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                {{ form.player_one_hall }}
            </div>
        </div>

        <br>
        <h6>Participant (10)<sub>2</sub>'s Details</h6>
        <br>
        <br>

        <div class="row">
            <div class="col-md-6 col-xs-12 p-0">
                <label>Name :</label>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                {{ form.player_two_name }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 p-0">
                <label>Email ID :</label>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                {{ form.player_two_email }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 p-0">
                <label>Contact :</label>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                {{ form.player_two_contact }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 p-0">
                <label>Hall No. :</label>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                {{ form.player_two_hall }}
            </div>
        </div>
        <br>
        <div class="text-center">
            <input type="submit" class="btn btn-light SUBMIT-BTN" name="register" value="Submit!">
        </div>
    </form>
  <div align='center'><a href=teams><input type="button" name="AlreadyRegistered" class="btn btn-light SUBMIT-BTN" value="Already Registered Teams"></a></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="footer">
    <br>
    <p>&copy 2018 GNU/Linux User's Group , NIT Durgapur</p>
    <a href="www.facebook.com" class="fa fa-facebook"></a>
    <a href="in.linkedin.com" class="fa fa-linkedin"></a>
    <a href="https://github.com/JayjeetAtGithub/" class="fa fa-github"></a></p>
</div>
{% endblock %}
